:root {
  --background-color: #1c1525;
  --card-color: #2f2b3a;
  --metaque-color: #342941;
  --text-color: #F2F2F2;
  --primary-color: #BB86FC;
  --secondary-color: #03dac4;
  --contrast-color: #FFEE58;
  --sidebar-color:   #0c0910;
  --timer-color: #00574e;
  }
  
  
  #app {
    display: block;
    max-width: 54em;
	  margin: 0 auto;
  }

.transition-enter {
    opacity: 0;
    transition: opacity .3s ease-out;
  }
  
.transition-enter-active {
    opacity: 1;
  }

html {
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.75;
 
}

body {
  background-color:var( --background-color);
  color:var( --text-color);
}

a {
  background-color: var(--contrast-color);
  border: 0px;
  text-decoration: none;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  word-wrap: break-word;
  padding: .3em .3em .3em .3em;
  font-family: Arial, sans-serif;
}
a:hover{
  filter: brightness(50%);
}

textarea {
  width: 100%;
  font-size: 14pt;
  height: 3em;
  white-space: pre-wrap;

}

h1 {
  color: #BB86FC;
  text-align: center;
}

button:hover {
  filter: brightness(50%);
}

/*****sidebar */
.sidebar {
  position: fixed;
  flex-flow: row wrap;
  height: 100%;
  z-index: 10;
  width: 50%;
  top: 0;
  bottom: 0;
  background-color: var(--sidebar-color);

  }

  #sideheader {
    position: relative;
    display: block;
    height: 4%;
    width: 100%;
  }

  #togglebtn {
    position: absolute;
    max-height: 100%;
    right: 0px;
    top: 0px;
  }

  #togglebtn:hover {
    filter: brightness(50%);
  }

  .rotateToggle {
    transform: rotate(180deg);
  }

  

  .stratContainer {
    height: 95%;
    width: 100%;
    margin-left: 1em;
    padding-right: 3%;
    overflow: auto;
  }


  .full {
    animation: moveRight .2s forwards;
    display: flex;
 
  }

  .stow {
    animation: moveLeft .2s forwards;
    display: flex;
  
  }

  .hideScroll {
    overflow: hidden;
    width: 80%;
  }

 

  @keyframes moveRight {
    from {left: -48em;}
    to {left: 0em;}
  }

  @keyframes moveLeft {
    from {left: 0em;}
    to {left: -48%;}
  }
  
 
  
.strategy-title {
  color: var( --primary-color);
  text-align: center;
}




/* pasted in */
.intro-phase-box {
  display: block;
  background:var( --card-color);
  color: var( --text-color);
  padding: 2em 2em 2em 2em;
  border-radius: 13px;

}
.phase-title {
  color:var( --primary-color);
}

.phase-box {
  display: block;
  background:var( --card-color);
  color:var(--text-color);
  padding: 2em 2em 2em 2em;
  border-radius: 13px;
 
}

.phase-box h2{
  text-align: center;
  color:var(--primary-color);
}

.phase-link {
  text-align: center;
}

.phase-box h3{
  color:var(--primary-color);
}

.phase-button {
  text-align: center;
}

.meta-que {
  color: white;
  background-color:var(--metaque-color);
  border-radius: 15px;
  border: solid .25px var(--primary-color);
  padding: .25em .25em .25em 1em;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  }
  
  .center-on-page { 
     text-align: center;
  }
  
  .user-goal {
    display: block;
    background-color:  var(--metaque-color);
    padding: 1em 1em 1em 1em;
    color: white;
    border-radius: 13px;
    border: .25px solid  var(--primary-color);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
 }
 .user-goal h4{
  color: white;
  margin: 0px;
  display: inline-block;
}

  /*Blurb styling */
.blurb-box {
  display: none;
  flex: 1;
  background:var( --card-color);
  color:var(--text-color);
  padding: 2em 2em 2em 2em;
  border-radius: 13px;
  align-content: center;
  margin-bottom: 1.5em;
}

.blurb-box {
flex: 1;
}
.blurb-text {
  flex: 1;
}
.blurb-image {
  flex: 1;
  text-align: center;
}
.blurb-text h2 {
  text-align: center;
  color:var(--primary-color);
}
.blurb-button {
  align-items: center;
  text-align: center;
}
.blurb-button  button{
  width: 52%;
  background-color: var(--secondary-color);
  border: 0px;
  text-decoration: none;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  word-wrap: break-word;
  padding: .3em .3em .3em .3em;
  font-size: 18px;
  line-height: 1.25;
  font-family: Arial, sans-serif;
  
}

.blurb-button  a{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.25;
 
}

.show {
  display: flex;
}

.hidden {
  display: none;
}

.printFormatting {
  white-space: pre-wrap;
}




 /* Style the buttons that are used to open and close the accordion panel */
 .accordion {
  background-color: var( --card-color);
  width: 100%;
  font-size: 22px;
  color: var( --text-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: solid var( --primary-color);
  border-radius: 13px;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: var( --background-color);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: var( --sidebar-color);
  max-height: 0;
  overflow: hidden;
  border-radius: 13px;
  transition: max-height 0.2s ease-out;
} 

.accordion:before {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 17px;
  color: var( --contrast-color);
  float: right;
  margin-left: 5px;
}

.active:before {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.spaceAccordion {
  margin-top: 10px;
}



/*Pomodoro Timer CSS*/
.title {
  font-size: 3rem;
  margin-bottom: 20px;
}

.timer-settings {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.setting {
  margin: 0 10px;
}

.setting label {
  font-size: 1.2rem;
  margin-right: 10px;
}

.setting input {
  width: 4rem;
  height: 2rem;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 4px;
  border: none;
  background-color: white ;
  transition: background-color 0.3s;
}

.setting input:focus {
  outline: none;
  background-color: #bcbbbb;
}

.timer-display {
  font-size: 4rem;
  margin-bottom: 20px;
  display: inline-block;
  width: 13rem;
  line-height: 5rem;
  text-align: center;
  justify-content: center ;
  background-color: var(--timer-color);
  border-radius: 5%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.timer {
  text-align: center;
}


/*
.timer-display span#timer-minutes {
  margin-right: rem;
}
  */

.timer-buttons {
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

#timer-clicks .button{
  background-color: var(--secondary-color);

}
/*.button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(245, 140, 140);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s;
}

.button:hover {
  transform: scale(1.1);
}
*/
.button-secondary {
  background-color: #ccc;
  color: #e02121;
}

.button-secondary:hover {
  background-color: #838383;
}

.dark-mode-toggle {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-mode-toggle label {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input[type="checkbox"]:checked + .toggle-slider {
  background-color: rgb(245, 140, 140);
}

input[type="checkbox"]:checked + .toggle-slider:before {
  transform: translateX(26px);
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.dark-mode-toggle label {
  margin-right: 1rem;
}

/* Dark Mode Styles */

body.dark-mode .timer-display span {
  background-color: rgb(245, 140, 140);
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.1);
  color: #f5f5f5;
}

body.dark-mode .button {
  background-color: #333;
  border: 1px solid rgb(69, 69, 69);
}

body.dark-mode .button:hover {
  background-color: #666;
}

body.dark-mode .button-secondary {
  background-color: #f5f5f5;
  color: #333;
}

body.dark-mode .button-secondary:hover {
  background-color: #e0e0e0;
}

body.dark-mode .toggle-slider {
  background-color: #f5f5f5;
}

body.dark-mode input:checked + .toggle-slider {
  background-color: rgb(245, 140, 140);
}

body.dark-mode input:focus + .toggle-slider {
  box-shadow: 0 0 1px #f5f5f5;
}

/* Responsive Styles */


@media (max-width: 480px) {
  html {
  font-size: 16px;
}
  body {
  background-color: #1c1525;
  background-size: cover;

  }
 .sidebar {
 width: 95vw;
 
 }

 .phase-box {
  padding: 2em 2em 2em 3em;
 }

 @keyframes moveRight {
  from {left: -10em;}
  to {left: 0em;}
}

@keyframes moveLeft {
  from {left: 0em;}
  to {left: -87%;}
}

  #ui-bar.stowed {
    left: -72vw;
}

#select-button {
  min-width: 10em;
}

/*width of passage*/ 
#passages {
  min-width: 19em;
  margin-left: -30px;
  
}

textarea {
  min-width: 11em;
}
.blurb-button button {
 width: 60%;
}
.blurb-box {
  flex-wrap: wrap;
}
.blurb-image {
  display: none;
}

#story-subtitle {
  width: 60%;
  left: 25%;
  right: 50%;

}

}

