<div class="phase-box">
    <h2>Phase 7: Evaluate Learning</h2>
    
    <p>Now that you had a chance to review your materials and gauge your level of understanding, reflect back on your learning goal and your choice of study strategy. If your study strategy is effective and you feel you are making progress toward your goal, great! But if you feel that you may need to tweak or change your strategy, this is the time to make necessary changes.</p>
    
    <div class="user-goal"> 
        <img src="imgs/Icons/goal.svg"
                 width= "6%"
                 height="auto"/> 
                 <h4>Learning Goal</h4>
                 
                 <div class="printGoal printFormatting"></div> 
    </div>
    
    <p>   <div class="meta-que">
        <p><img src="imgs/Icons/meta-que-icon.svg"
            width= "7%"
            height="auto"/>
        Ask yourself:
    <ul>
    <li>Have I reached my learning goal?</li>
    <li>Is my study strategy effective?</li>
    <li>What changes can I make to my study strategy to make it more effective?</li>
    <li>Do I need to continue this study session?</li>
    </ul>

</div></p>

    
    <p>If you have reached your learning goal, then you are done and can end this study session. If have not reached your learning goal, then click below to go back to Phase #4. Continue to cycle through the study session phases until you have reached your goal.</p>

    <p><div class="phase-link"><a href="#phase4" id="toPhase3">Continue studying</a></div></p>
    <div class="phase-link"><a href="#phase8" id="toPhase3">Wrap-up</a></div>