<div class="phase-box">
    <h2>Phase 8: Reflection</h2>
    
    <p>Now that you have completed your study session, it's time to summarize your learning in writing. By doing so, you will have convenient learning summaries you can review for tests and quizzes.</p>
    
    <p>This is also the time to think about how your study session went and write down any changes you think might make your future study sessions more effective.</p>
    
    <h3><u>Subject/Class</u></h3>
    <p>Enter the subject or class you studied for today:</p>
    <input type="text" id="userClass">
    
    <h3><u>Strategy Used</u></h3>
    <div class="printStrategyName"></div>
    
    <h3><u>Learning Summary</u></h3>
    <p>Summarize what you learned during this study session in the box below. It may help to pretend that you are explaning what you learned to a friend. Be sure to use your own words:<p>
    <textarea id="userSummary" class="printFormatting"> </textarea>
    
    <h3><u>Learning Goal</u></h3>
    <div class="printGoal printFormatting"></div>
    
    <h3><u>Reflection</u></h3>
    <p>Reflecting on your studies is a crucial element of effective study. Recording your reflections will allow you to quickly remember what you can do to improve your studies in a future session.</p>
    <p><div class="meta-que">
             <img src="imgs/Icons/meta-que-icon.svg"
             width= "7%"
             height="auto"/><h4>Metacognitive Moment</h4>
    <ul>
    <li>Did I meet my learning goal?</li>
    <li>What did I do that was effective?</li>
    <li>What changes can I make to have more effective sessions in the future?</li>
    <li>What factors (environment, mental/emotional feelings) impacted my study session?</li>
    </ul></div></p>

    
    <textarea id="userReflection" class="printFormatting"></textarea>
    
 
    
        <div class="phase-link"><a href="#summary" id="toSummary">See study session summary</a></div>
    </div>