<div class="phase-box">
   <h2>Phase 4: Focused study time</h2>

   <p>Now it's time to implement your study strategy to reach your learning goal. Follow along the strategy guide during your study session by untoggling the left sidebar. Be sure answer all the questions that the guide prompts you to ask. They are vital in making you learning more effective.</p> 
   
   <p>Set a timer for an amount of time that you think you can concentrate on your studies. This amount of time differs for everybody. If you have trouble concentrating for long periods of time, start with a shorter session. Over time, you may find that can build your focus stamina and concentrate for longer periods of time. Concentration requires practice!</p>

   <p>During this time, you must prioritize your studies and minimize the amount of distractions around you. If necessary, put your phone on airplane mode so notifications don’t interrupt your focus. This is a time committed to concentrating on your studies.</p>

   <p><div class="meta-que">
         <img src="imgs/Icons/meta-que-icon.svg"
         width= "7%"
         height="auto"/>Ask yourself:
   <ul>
   <li>Can I fully concentrate for the amount of time I have chosen to study for?</li>
   <li>Do I have everything I need to fully concentrate during this time?</li>
   <li>Do I need any water or a snack?</li>
   <li>How can I minimize the distractions around me?</li>
   </ul></div></p>

   <p>Your learning goal will also  be displayed on the following page. Be sure to reference it throughout your study time to monitor your progress toward your learning goal.</p>

   <p>When you when are ready to start, click the button below. Happy Studying!</p>
  
 
   <p> <div class="phase-link"><a href="#focustime">I am ready to concentrate</a></div> </p>