<div class="phase-box">
    <h2>Phase 6: Review</h2>
    
    <p>While getting settled back into study mode, take this time to quickly review the material you have already covered. By reviewing the material, your brain is getting another chance to process the material. This will help you remember the information better and may allow you to make new connections to the information.</p>
    
    <p>While reviewing, it may help to try to paraphrase the information to yourself. Paraphrasing is putting the information into your own words. Try explaining the information to yourself without using your textbook or notes as a guide. The more you can put concepts into your own words, the more likely you are to understand and retain that information.</p>
    
    <div class="phase-link"><a href="#phase7" id="toPhase3">I have reviewed my materials</a></div>
    </div>
    