    <div class="phase-box">
        <h2>Phase 5: Take a break</h2>
    
        <p>Great job concentrating! Now it is time your give yourself a short break. Breaks are important to learning because your brain needs time to reset and make new connections to the material you just studied. Breaks are also good for your energy level and motivation.</p>
    
        <p>Your break is your time and you know best how to relax yourself. Consider doing the following:
        <ul>
            <li>Take a short walk</li>
            <li>Get a snack or water</li>
            <li>Use the restroom</li>
            <li>Make phone call</li>
            <li>Watch a short video</li>
        </ul></p>
    
    <p>Don’t let yourself take too long of a break. Your brain needs a chance to reset, but taking too long of a break may get you distracted for your studies. Remember, you are still in a study session!</p>
    
    <p>After your short break, move on to the next phase.</p>
    
       
   
	<p> <div class="phase-link"><a href="#phase6">I have finished my break</a></div> </p>
</div>
    