<div class="phase-box">
    <h2>Study Session Summary</h2>
    <p>Here is a summary of your study session. Copy and paste this summary into a learning journal so you can more easily review your notes and improve your study quality for future study sessions.<p>
 
    <h3>Subject/Class:</h3>
    <div class="printClass"></div>
 
    <h3>Strategy Used:</h3>
    <div class="printStrategyName"></div>
 
    <h3>Learning Summary:</h3>
    <div class="printSummary printFormatting"></div>
 
    <h3>Learning Goal:</h3>
    <div class="printGoal printFormatting"></div>
 
    <h3>Reflection:</h3>
    <div class="printReflection printFormatting"></div>
    </p>
    <p>Email us at contact@studysession.app to let us know how we can improve your experience!</p>
    
    <div class="phase-link"><a href="#index" id="endSession">Wrap-up</a></div>
 </div>